<div class="container-fluid footer-bg" style="background-image: url(assets/images/footer-bg.jpg);">
  <div class="footer">
	  <div class="leftMenu logoPadding">
	  <div class="leftLogo">
	<img class="logo" src="./assets/images/logo.png">
	  </div>   
</div>
  <div class="rightMenu">
      <div class="">
          <img class="socialIconProerty" src="./assets/images/facebook.png">
          <img class="socialIconProerty" src="./assets/images/twitter.png">
          <img class="socialIconProerty" src="./assets/images/linkdin.png">
          <img class="socialIconProerty" src="./assets/images/medialast.png">
      </div>
    
</div>
<div class="clearfix" style="margin-bottom: -34px;"  ></div>
<hr class="horizontalLine">
<div class="footerBottom">
  <p class="companyInfo">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
      also the leap into electronic typesetting, remaining essentially unchange</p>
      <span class="copyright">&copy; Scaffoldpay, 2017-2018. All rights reserved</span>
</div>
  </div>
  <div class="topToBottomImage" >
   <img (click)="scrollToTop()" src="./assets/images/top-scroll-button.png">
    </div>
</div>
