.logo {
    width: 200px;
    height: 120px;
}

.footer-bg {
	 background-image: url(/assets/images/footer-bg.jpg);
/* height: 666px;*/
 background-size: cover;
 background-repeat: no-repeat;
}

.footer {
	margin: 0 auto;
	width: 85%;
	padding-bottom: 31px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.leftMenu {
	width: 70%;
    float: left;
}

.rightMenu {
	width: 30%;
    float: right;
    text-align: center;
}

.aboutUs {
	width: 25%;
	float: left;
}
.topToBottomImage{
	text-align: right;
	/* top: -50px; */
	left: -15px;
	top: -20px;
	position: relative;
	cursor: pointer;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

.exchane {
	width: 25%;
	float: left;
}

.wallet {
	width: 25%;
	float: left;
}

.merchants {
	width: 25%;
	float: left;
}

.footerBottom {
	text-align: center;
	width: 91%;
	margin: 0 auto;
}

.subMenuHeading {
	text-transform: uppercase;
	font-size: 20px;
	font-family: proximaNova-font-regular;
	color: #ffffff;
}

.horizontalLine {
	border: 1px solid #80a9b7;
	margin-left: 22px;
	margin-right: 47px;
}

ul li {
	list-style: none;
	font-size: 15px;
	color: #bbbbbb;
	font-family: Lato-regular;
}

ul li a {
	color: #bbbbbb;
}

ul {
	margin-top: 24px;
}

.companyInfo {
	font-size: 13px;
	font-family: Lato-regular;
	color: #bbbbbb;
}

.copyright {
	color: #ffffff;
	font-size: 18px;
	font-family: proximaNova-font-regular;
}

.socialIconProerty {
	cursor: pointer;
	margin-right: 14px;
}

.footerLogo {
	width: 165px;
	height: 36px;
}

.logoPadding {
	padding-left: 24px;
	padding-top: 32px;
}

.leftLogo {
	padding-top: 28px;
	padding-bottom: 67px;
}

.rightMenu {
	padding-top: 50px;
}

p.companyInfo {
	margin-bottom: 20px;
}
@media only screen and (max-width: 1350px) and (min-width: 1280px) {
  
}

@media only screen and (max-width: 1279px) and (min-width: 991px) {
  
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
  
  
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
	.footer{
		padding: 30px;
		width: 100%;
	}
	.logoPadding{
		padding-left: 0px;
	}
	.leftLogo{
		padding-bottom: 28px;
	}
	.rightMenu,
	.aboutUs,
	.exchane,
	.wallet,
	.merchants,
	.leftMenu{
		width: 100%;
	}
	.horizontalLine{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}