
<header></header>
<!-- services component -->
<div class="container-fluid lastSectionPadding">
  <div class="posSection allSectionPadding">
  <div class="posImage cardTop">
    <img class="serviceImage" src="./assets/images/pos.png">
  </div>
  <div class="posTxt">
    <h2>Bitex POS</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
       industry. Lorem Ipsum has been the industry's standard dummy 
       industry. Lorem Ipsum has been the industry's standard dummy 
       industry. Lorem Ipsum has been the industry's standard dummy 
       industry. Lorem Ipsum has been the industry's standard dummy 
       text ever since the 1500s,</p>
  </div>
</div>
<div class="clearfix"></div>
<div class="bitexCardSection allSectionPadding">
    <div class="bitexCardTxt ">
        <h2>Bitex Card</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
           industry. Lorem Ipsum has been the industry's standard dummy 
           industry. Lorem Ipsum has been the industry's standard dummy 
           industry. Lorem Ipsum has been the industry's standard dummy 
           industry. Lorem Ipsum has been the industry's standard dummy 
           text ever since the 1500s,</p>
    </div>
    <div class="bitexCardImage cardTop">
        <img class="serviceImage" src="./assets/images/ezcard.png">
     
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="posSection allSectionPadding">
      <div class="posImage cardTop">
        <img class="serviceImage" src="./assets/images/g7Token.png">
      </div>
      <div class="posTxt">
        <h2>G7 Token</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
           industry. Lorem Ipsum has been the industry's standard dummy 
           industry. Lorem Ipsum has been the industry's standard dummy 
           industry. Lorem Ipsum has been the industry's standard dummy 
           industry. Lorem Ipsum has been the industry's standard dummy 
           text ever since the 1500s,</p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="bitexCardSection allSectionPadding">
        <div class="bitexCardTxt ">
            <h2>Card Reader</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
               industry. Lorem Ipsum has been the industry's standard dummy 
               industry. Lorem Ipsum has been the industry's standard dummy 
               industry. Lorem Ipsum has been the industry's standard dummy 
               industry. Lorem Ipsum has been the industry's standard dummy 
               text ever since the 1500s,</p>
        </div>
        <div class="bitexCardImage cardTop">
            <img class="serviceImage" src="./assets/images/ezcard.png">
         
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="posSection allSectionPadding ">
          <div class="posImage cardTop">
            <img class="serviceImage" src="./assets/images/g7Token.png">
          </div>
          <div class="posTxt">
            <h2>Loan</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
               industry. Lorem Ipsum has been the industry's standard dummy 
               industry. Lorem Ipsum has been the industry's standard dummy 
               industry. Lorem Ipsum has been the industry's standard dummy 
               industry. Lorem Ipsum has been the industry's standard dummy 
               text ever since the 1500s,</p>
          </div>
        </div>
        <div class="clearfix"></div>
</div>
<footer></footer>