

.verify-page{
  background: #f4f4f4;
  display: table;
  padding-top: 15%;
  padding-bottom: 10%;
  height: 100%;
  width: 100%;
}
.margin-50{
  width:200px;
}
.verify {
    width: 100%;
    height: auto;
    padding:20px;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto; 
    background-color:#ffffff;
    left: 0;
    right: 0;
    border-radius: 4px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
}
 h2{
 color:#7f7f7f;
 font-size: 30px;
 margin-top: 30px;
}
.verify p{
  font-size: 20px;
  color: #7f7f7f;
  font-family:'Lato-regular';
  font-weight:500;
}
.sub-header{
  font-size: 25px;
  color:#7f7f7f;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logoImage{
  width: 170px;
  height: auto;
}
#logo{
  margin-right: 47px;
}
#oneLine-display{
  display: -webkit-inline-box;
}
/*.pad-left{
  display: inline-block !important;
}*/
#header{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  z-index: 9 !important;
  position: fixed;
  top: 0;
  padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
  box-shadow: 0 0 8px 6px rgba(68, 60, 60, 0.1)
}

#navbar li{
  list-style: none;
  float: left;
  margin-right: 20px;
}
li a{
  display:inline-block;
  color:#3c3c3c;
  text-align: center;
  font-size:13px;
  cursor: pointer;
  text-decoration:none;
  font-weight: 900;
}
li a:hover,
li a:active{
  color:#2196f3;
}
.signIn-Signup{
  color: #44a7db;
  cursor: pointer;
}
#languageDropdown{
  border: 0;
  outline: none;
  background-color: #ffffff;
}
.languageFont{
  color:#3c3c3c;
  font-size:13px;
  font-weight: 900;
  font-family:Lato-regular;
}
.languageFont {
  width: 81px;
  overflow: hidden;
}
.handIcon{
  cursor: pointer;
}

/* start of css of login modal */
.pad-0{
  padding: 0;
}
.pad-110{
  padding-top: 110px;
}
.padding-90{
  padding-top: 90px;
}
.text-center{
  text-align: center;
}
.pad-66{
  padding-top: 66px;
}
.pad-10{
  padding-top: 10px;
}
.pad-20{
  padding-top: 20px;
}
.padding-8{
  padding-top: 8px;
}
.pad-18{
  padding-top: 18px;
}
.padding-40{
  padding-top:40px;
}
.pad-46{
  padding-top:46px; 
}
.padding-25{
  padding-top: 25px;
}
.pad-15{
  padding-top: 15px;
}
.padding-20{
  padding-top:20px;
}
.pad-32{
  padding-top:32px;
}
.pad-63{
  padding: 0;
    width: 100%;
}
#languageSelect{
  margin-top: 6px;
}
.navbar{
  padding: 0;
}
.padSignUp{
  padding: 20px 130px !important;
}
.navbar-brand{
    padding: 0;
    margin-right: 50px;
}
.navbar-header{
  display: inline-flex;
    width: 50%;

}
.navbar-toggle{
  display: none;
}

.navbar-collapse{
  display: block;
    width: 50%;
    flex-basis: 0%;
  }
  .navbar-collapse ul{
    display: inline-block;
  }
.input-group label{
  margin: 0 auto;
  font-size: 17px;
  letter-spacing: 1px;
  font-family:Lato-regular;
  color:#aeaeae;
}
.input-cls{
  color:#3c3c3c;
  border: none;
  border-bottom: 1px solid #dadada;
  width:100%;
  text-align: center;
   outline: none;
   margin: 0 auto;
}
.signInBtn,
.signInBtn:hover,
.signInBtn:active{
    font-size: 14px !important;
    font-family: Lato-regular;
    color: #2196f3;
    background: none !important;
    border: 1px solid #2196f3 !important;
    border-radius: 40px;
    padding: 3px 25px !important;
    margin-top: -12px !important;
}
.close{
    background-color: #2196f3;
    border-radius: 20px;
    top: -18px;
    left: 18px;
    position: relative;
    margin: 0;
    line-height: inherit;
    z-index: 999;
    opacity: 1;
}
.close span{
    margin: 10px;
    color: #fff;
    top: -2px;
    position: relative;
    font-size: 27px;
    font-weight: 500;
}
.btn{
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  box-shadow: none;
  padding: 10px 50px;
  background-color: #2196f3;
  font-family:Lato-regular;
}
.btn:active{
    background-color: #2196f3 !important;
    border-color: #2196f3 !important;
}
.forgetPswd{
  margin: 0 auto;
  font-size: 18px;
  font-family: Lato-regular;
  color:#2196f3;
}
.forgetPswd a{
  cursor: pointer;
}
.modal-body img{
  height: 100%;
}
.logo-image{
    width: 50%;
   position: absolute;
   top: 35%;
  left: 25%;
}
.logo-image button,
.logo-image label,
.logo-image img{
  margin: 0 auto;
}
.text-white{
  color:#fff;
  font-size: 14px;
  font-family: 'Lato-regular';
}
.backgroundLogo{
  background-image: url(/assets/images/SigninBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.signUpbtn,
.signUpbtn:hover,
.signUpbtn:active{
      background: none !important;
    font-size: 13px;
    font-family: Lato-regular;
    letter-spacing: 2px;
    color: #44a7db;
    border: 2px solid #44a7db;
    padding: 10px 30px;
}
.signInForm{
  padding: 100px 160px;
}
.signInForm h4{
  margin: 0 auto;
  font-family: Lato-regular;
  font-size: 25px;
 letter-spacing: 6px;
  color:#2196f3;
  font-weight: 700;
}
.hintDiv{
    display: block;
    background-color: #dedede;
    padding: 10px;
  }
.recaptchaError{
      margin-left: -28px;
    margin-top: 15px;
    position: absolute;
  }
.headingSmall{
  font-size: 22px !important;
}
.signInForm p{
  color:#b8b8b8;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}
.termsField{
  color:#5e5e5e;
  font-family: Lato-regular;
  font-size: 12px;
  margin: 0 auto;
}
.resendOtp{
  color:#2196f3;
  font-size: 12px;
  margin: 0 auto;
  cursor: pointer;
}
.pad-Override{
  padding: 50px 130px !important;
}
input[type="text"]::-webkit-input-placeholder{
   margin: 0 auto;
  font-size: 17px;
  letter-spacing: 1px;
  font-family:Lato-regular;
  color:#aeaeae;
   outline: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background-color:#ffffff !important;
}

/*Start login Form */


/* End login Form */
.recpatchaModal{
  margin-left: 33px;
}

.label1{
  top:-41px !important;
}
.label2{
  top:68px !important;
}
.label3{
  top:145px !important;
}
.label4{
  top:220px !important;
}
.label5{
  top:295px !important;
}


.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  /*margin: 1em;*/
  max-width: 350px;
  width: calc(100% - 1em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

.input--hoshi {
  overflow: hidden;
}

.input__field--hoshi {
  margin-top: 1em;
  padding:1.2em 0.15em;
  width: 100%;
  background: transparent;
  color: #595F6E;
}

.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  font-size: 12px !important;
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none;
}

.input__label-content--hoshi {
  position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 4px solid red;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
  border-color: hsl(200, 100%, 50%);
}

.input__label--hoshi-color-2::after {
  border-color: hsl(200, 100%, 50%);
}

.input__label--hoshi-color-3::after {
  border-color: hsl(200, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

/*End Of New Screen */

/* end of css of login modal */

 @media only screen and (max-width: 1350px) and (min-width: 1280px){ 
 
 }
 @media only screen and (max-width: 1279px) and (min-width: 991px){ 
 
} 

 @media only screen and (max-width: 990px) and (min-width: 768px){ 
#header{
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .logoImage{
    width: 120px;
  }
  #navbar li{
    margin-right: 12px;
  }
  #navbar>li >a{
    font-size: 12px;
  }
  
}
@media only screen and (max-width: 767px) and (min-width: 320px){ 
#oneLine-display{
  display: none;
}
.navbar-toggle {border:none!important;background-color:transparent!important}
}