

<header></header>
<div class="fluid-container verify-page">
    <div class="container">
        <div class="verify">
           <div class="text-center">
             <img src="../../assets/images/logo.png" class="margin-50 ">
             <!-- <h2>Verified Email ?</h2> -->
           </div>
        <div class="verify-form">
              <div class="row">
                 <div class="col-md-12  text-center">
                   <p class="sub-header">Kindly click on below button to set your new password</p>
                </div>
              </div>
                <div class="row pad-34">
                    <div class="col-md-12 text-center">  
                        <button type="button" class="btn btn-primary btn-round-lg btn-lg" (click)="openModal(newPassword)">New Password</button>
                    </div>
                </div>

        </div>
        </div>
    </div>   
</div>


<!-- Start Of Create New Password Modal Template -->
    <ng-template #newPassword class="loginModal">
        <div class="modal-body">
            <div class="col-sm-12 pad-0 inline-flex">
                <div class=" col-sm-6 pad-0 backgroundLogo">
                    <div class="logo-image">
                        <div class="row">
                            <img src="/assets/images/signInLogo.png">
                        </div>
                        <div class="row pad-46">
                            <label class="text-white">If you don't have an account</label>
                        </div>
                        <div class="row pad-15">
                            <button type="button" class="btn btn-primary signUpbtn">SIGN UP</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pad-0">
                    <!--  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <div class="signInForm pad-Override">
                        <div class="row text-center">
                            <h4 class="headingSmall">CREATE NEW PASSWORD</h4>
                        </div>
                        <div class="row">
                            <p>Please create new password you like</p>
                        </div>
                         <form class="pad-66" #resetPassword="ngForm" (ngSubmit)="resetPasswordForm(resetPassword)" novalidate>
                            <div class="row">
                                    <div class="col-md-12">
                                        <div [ngClass]="{'error-border':(newPassword.invalid && resetPassword.submitted || newPassword.invalid && newPassword.touched)}">
                                            <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="password" name="newPassword" [(ngModel)]="user.newPassword" #newPassword="ngModel" required />
                    <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5">
                        <span class="input__label-content input__label-content--hoshi">New Password</span>
                                            </label>
                                            </span>
                                            <div class="error-block" *ngIf="newPassword.invalid && (resetPassword.submitted || newPassword.touched)">
                                                <span *ngIf="newPassword.errors.required">Please confirm password</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                           <div class="row">
                                    <div class="col-md-12">
                                        <div [ngClass]="{'error-border':(confirmPassword.invalid && resetPassword.submitted || confirmPassword.invalid && confirmPassword.touched)}">
                                            <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required />
                    <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5">
                        <span class="input__label-content input__label-content--hoshi">Confirm Password</span>
                                            </label>
                                            </span>
                                            <div class="error-block" *ngIf="confirmPassword.invalid && (resetPassword.submitted || confirmPassword.touched)">
                                                <span *ngIf="confirmPassword.errors.required">Please confirm password</span>
                                            </div>
                                            <div class="error-block" *ngIf="user.confirmPassword!=user.newPassword && !confirmPassword.invalid">
                                                <span>Password and confirm password did not match</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            <div class="row padding-90">
                                <button type="submit" class="btn btn-primary btn-round-lg btn-lg">RESET</button>
                            </div>
                            <div class="row padding-8">
                                <span class="resendOtp">
                        <a target="_blank">Resend Link</a>
                        </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- End Of Create New Password Modal Template -->
    <footer></footer>