

<header id="header"></header>
<div class="fluid-container verify-page">
        <!-- <div class="verify"> -->
          <div class="video-container">
            <div class="parallexVideo">
            <video autoplay poster="" class="video-parallax" loop muted>
                <source src="../../assets/videos/tech.mp4" type="video/mp4">
            </video>
        </div> 
         <div id="notifications-full">
<!-- <div id="notifications-full-close" class="close">
<span class="iconb" data-icon="&#xe20e;"></span>
</div> -->
<div id="notifications-full-icon"><span class="iconb" data-icon="&#xe261;"></span>
</div>
<div id="notifications-full-text">
<h2>Welcome To Scaffold !</h2>
<p>You have successfully registered into Scaffold. Scaffold is an online exchange platform which facilitates crypto to crypto currency exchanges, crypto to fiat currency exchanges and vice versa. </p>
 <p class="colrBlu">Kindly Sign In to Continue</p>
 <button type="button" class="btn btn-primary" [routerLink]="['/home']">SIGN IN</button>
</div>
<!-- </div> -->
</div>
</div>
<footer></footer>

