<div class="container-fluid pad-0">
    <div class="loader-backdrop" *ngIf="spinner">
        <div class="loader"></div>
    </div>

    <div class="topHeaderContainer">
        <nav class="navbar navbar-default">

            <div class="col-sm-12 header-cont pad-0">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" (click)="onToggle()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <div class="logo-image"> -->
                    <a class="navbar-brand logo-image" [routerLink]="['/home']">
                        <img class="img-responsive logoImage" src="assets/images/logo.png">
                    </a>
                    <!-- </div> -->

                </div>
                <div class="collapse navbar-collapse  navigationBar" id="bs-example-navbar-collapse-1" [ngClass]="{'expand': toggleIt }">
                    <ul class="nav navbar-nav  navbar-right">
                        <li>
                            <img class="img-responsive logoImage" src="assets/images/Dashboardicon.png">
                            <a class="link1" [routerLink]="['/app/dashboard']">Dashboard</a>
                        </li>
                        <li>
                            <img class="img-responsive logoImage" src="assets/images/mywalleticon.png">
                            <a class="link1" [routerLink]="['/app/wallet']">My Wallet</a>
                        </li>
                        <li>
                            <img class="img-responsive logoImage" src="assets/images/Marketicon.png">
                            <a class="link1">Market</a>
                        </li>
                        <li>
                            <img class="img-responsive logoImage" src="assets/images/Settingicon.png">
                            <a class="link1">Settings</a>
                        </li>
                        <li>
                            <img class="img-responsive logoImage" src="assets/images/Historyicon.png">
                            <a class="link1">History</a>
                        </li>
                        <li>
                            <img class="img-responsive logoImage" src="assets/images/KYCupdateicon.png">
                            <a class="link1">Update Your KYC</a>
                        </li>
                        <!-- <li>
                          <img class="img-responsive logoImage" src="../../assets/images/profileicon.png">
                        <a class="link1"></a>
                    </li> -->
                        <li class="last-item">
                            <img class="img-responsive logoImage" src="assets/images/profileicon.png">
                            <!-- <select (change)="logoutApp()" name="questionC" class="form-control dropbar">
                                    <option class="subOption">Harith</option>
                                    <option class="subOption" >Logout</option>
                            </select> -->
                            <div class="dropdown">
                                <button class="dropbtn">{{fullName}}</button>
                                <div class="dropdown-content margin-70">
                                    <a href="#">KYC</a>
                                    <a href="#">Settings</a>
                                    <a href="#">Referral</a>
                                    <a href="#">Terms & Condition</a>
                                    <a (click)="logoutApp()">Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</div>
<div class="container-fluid pad-0">
    <router-outlet></router-outlet>
</div>