<div class="fluid-container walletPage">
  <div class="container max-width">
      <div class="col-sm-12 border-line-box">
          <!-- <div class="heading">
          </div> -->
      </div>
      <div class="row pad-33">
          <div class="col-sm-12 border-pro-box">
              <div class="heading proHead">
                  <tabset class="walletModeTabset">
                      <tab heading="CRYPTOCURRENCY" id="tab1">
                          <div class="accordionView">
                              <accordion>
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <div class="col-sm-2">
                                          </div>
                                          <div class="grey-cont ">
                                              <div class="label-div">
                                                  <img class="img-responsive logoImage" src="../../assets/images/BTCicon.png">
                                                  <label>BTC</label>
                                              </div>
                                              <div class="down-arrow">
                                                  <img class="img-responsive logoImage" src="../../assets/images/dropArrow.png">

                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <accordion-group heading="BTC">
                                      <div class="row">
                                          <div class="col-sm-12 cardBody">
                                              <div class="col-sm-4">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Select Your Amount </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" placeholder="100" name="amount">
                                                              <button type="button">
                                <img class="img-responsive logoImage" src="../../assets/images/minusBtn.png">
                              </button>
                                                              <button type="button">
                                <img class="img-responsive logoImage" src="../../assets/images/plusBtn.png">
                              </button>
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-3">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Total Amount </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-3">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Total Cryptocurrency </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-2">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Price </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-12 button-col">
                                              <button type="button" class="btn redBtn" placeholder="BUY">BUY</button>
                                              <button type="button" class="btn greenBtn" placeholder="BUY">SELL</button>
                                          </div>
                                      </div>

                                  </accordion-group>
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <div class="grey-cont">
                                              <div class="label-div">
                                                  <img class="img-responsive logoImage" src="../../assets/images/BTCicon.png">
                                                  <label>BTC</label>
                                              </div>
                                              <div class="down-arrow">
                                                  <img class="img-responsive logoImage" src="../../assets/images/dropArrow.png">

                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <accordion-group heading="ETH">
                                      <div class="row">
                                          <div class="col-sm-12 cardBody">
                                              <div class="col-sm-4">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Select Your Amount </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" placeholder="100" name="amount">
                                                              <button type="button">
                                <img class="img-responsive logoImage" src="../../assets/images/minusBtn.png">
                              </button>
                                                              <button type="button">
                                <img class="img-responsive logoImage" src="../../assets/images/plusBtn.png">
                              </button>
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-3">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Total Amount </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-3">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Total Cryptocurrency </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-2">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Price </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-12 button-col">
                                              <button type="button" class="btn redBtn" placeholder="BUY">BUY</button>
                                              <button type="button" class="btn greenBtn" placeholder="BUY">SELL</button>
                                          </div>
                                      </div>
                                  </accordion-group>
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <div class="grey-cont">
                                              <div class="label-div">
                                                  <img class="img-responsive logoImage" src="../../assets/images/ETHicon.png">
                                                  <label>BTC</label>
                                              </div>
                                              <div class="down-arrow">
                                                  <img class="img-responsive logoImage" src="../../assets/images/dropArrow.png">

                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <accordion-group heading="XBX">
                                      <div class="row">
                                          <div class="col-sm-12 cardBody">
                                              <div class="col-sm-4">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Select Your Amount </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" placeholder="100" name="amount">
                                                              <button type="button">
                                <img class="img-responsive logoImage" src="../../assets/images/minusBtn.png">
                              </button>
                                                              <button type="button">
                                <img class="img-responsive logoImage" src="../../assets/images/plusBtn.png">
                              </button>
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-3">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Total Amount </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-3">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Total Cryptocurrency </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-2">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Price </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-12 button-col">
                                              <button type="button" class="btn redBtn" placeholder="BUY">BUY</button>
                                              <button type="button" class="btn greenBtn" placeholder="BUY">SELL</button>
                                          </div>
                                      </div>
                                  </accordion-group>
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <div class="grey-cont">
                                              <div class="label-div">
                                                  <img class="img-responsive logoImage" src="../../assets/images/BTCicon.png">
                                                  <label>BTC</label>
                                              </div>
                                              <div class="down-arrow">
                                                  <img class="img-responsive logoImage" src="../../assets/images/dropArrow.png">

                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <accordion-group heading="G7C">
                                      <div class="row">
                                          <div class="col-sm-12 cardBody">
                                              <div class="col-sm-4">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Select Your Amount </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" placeholder="100" name="amount">
                                                              <button type="button">
                                <img class="img-responsive logoImage" src="../../assets/images/minusBtn.png">
                              </button>
                                                              <button type="button">
                                <img class="img-responsive logoImage" src="../../assets/images/plusBtn.png">
                              </button>
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-3">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Total Amount </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-3">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Total Cryptocurrency </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="col-sm-2">
                                                  <table class="table table-responsive">
                                                      <tr>
                                                          <td>
                                                              <label>Price </label>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <input type="text" name="amount">
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-12 button-col">
                                              <button type="button" class="btn redBtn" placeholder="BUY">BUY</button>
                                              <button type="button" class="btn greenBtn" placeholder="BUY">SELL</button>
                                          </div>
                                      </div>
                                  </accordion-group>
                              </accordion>
                          </div>
                      </tab>
                      <tab heading="FIATCURRENCY">Leverage Bal</tab>
                      <tab heading="PAYMENT" class="paymentTab">
                        <!-- <div class="row pad-0 padding-top text-center">
                              <div class="col-sm-4 margin-150">
                                  <label class="payment-method-label">Payment method</label>
                                  <select class="paymentMethod">
                                    <option>Visa/Master Card</option>
                                    <option>Others</option>
                                  </select>
                              </div>
                              <div class="col-sm-4">
                                  <label for="currency" class="currency-label">Currency</label>
                                  <select class="currency">
                                      <option>USD</option>
                                      <option>INR</option>
                                  </select>
                              </div>
                          </div> -->

                          <div class="container">
                              <div class="row pad-0 padding-top">
                                  <div class="col-sm-6 pad-40 col-xs-12">
                                      <div class="payment-section">
                                          <label class="payment-method-label">Payment method</label>
                                          <select class="paymentMethod">
                                              <option>Visa/Master Card</option>
                                              <option>Others</option>
                                            </select>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 pad-40 col-xs-12">
                                      <div class="currency-section">
                                          <label class="currency-label">Currency</label>
                                          <select class="currency">
                                            <option>USD</option>
                                            <option>INR</option>
                                        </select>
                                      </div>
                                  </div>
                              </div>
                              <!-- <div class="row pad-0 hr-row">
                                  <hr class="hr-section">
                              </div> -->

                              <div class="row pad-0 amount-top amount-section">
                                  <div class="col-sm-2">
                                      <div class="cost-box">
                                          <div class="box-header">
                                              <span class="box-heading">$ 5,000</span>
                                          </div>
                                          <div class="span-box">
                                            <span class="get-pay"> You Get</span>
                                            <span class="amount sizePad">$ 10,000</span>
                                          </div>
                                          
                                      </div>
                                  </div>
                                  <div class="col-sm-2">
                                      <div class="cost-box">
                                          <div class="box-header">
                                              <span class="box-heading">$ 5,000</span>
                                          </div>
                                          <div class="span-box">
                                            <span class="get-pay"> You Get</span>
                                            <span class="amount sizePad">$ 10,000</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-2">
                                      <div class="cost-box">
                                          <div class="box-header">
                                              <span class="box-heading">$ 5,000</span>
                                          </div>
                                          <div class="span-box">
                                            <span class="get-pay"> You Get</span>
                                            <span class="amount sizePad">$ 10,000</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-2">
                                      <div class="cost-box">
                                          <div class="box-header">
                                              <span class="box-heading">$ 5,000</span>
                                          </div>
                                          <div class="span-box">
                                            <span class="get-pay"> You Get</span>
                                            <span class="amount sizePad">$ 10,000</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-2">
                                      <div class="cost-box">
                                          <div class="box-header">
                                              <span class="box-heading">$ 5,000</span>
                                          </div>
                                          <div class="span-box">
                                            <span class="get-pay"> You Get</span>
                                            <span class="amount sizePad">$ 10,000</span>
                                          </div>
                                      </div>

                                  </div>
                                  <div class="col-sm-2">
                                      <div class="cost-box">
                                          <div class="box-header">
                                              <span class="box-heading">$ 5,000</span>
                                          </div>
                                          <div class="span-box">
                                            <span class="get-pay"> You Get</span>
                                            <span class="amount sizePad">$ 10,000</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>




                          <div class="row pad-0 amount-top">
                              <div class="amount-div">
                                  <input type="text" class="form-control amount-input" placeholder="Amount">
                                  <div class="usd">USD</div>
                              </div>
                          </div>
                          <div class="row pad-0 deposit-row">
                              <div class="button-deposit">
                                  <input type="button" value="Deposit" class="btn-deposit">

                                  <p class="terms">Terms & Conditions</p>
                              </div>
                          </div>


</div>


                      </tab>




                  </tabset>
              </div>
          </div>

      </div>
      <div class="row tableCls">
          <div class="col-sm-12 border-pro-box">
              <div class="heading proHead"></div>
              <div class="table-col">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th scope="col">S.NO</th>
                              <th scope="col">Date/Time</th>
                              <th scope="col">ID</th>
                              <th scope="col">Symbol</th>
                              <th scope="col">Type</th>
                              <th scope="col">Status</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Price</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                          </tr>
                          <tr>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                          </tr>
                          <tr>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                          </tr>
                          <tr>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                          </tr>
                          <tr>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                          </tr>
                          <tr>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                          </tr>
                          <tr>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>