
<div class="container-fluid block-1">
    <div class="row">
        <div class="col-sm-12 pad-0">
            <div class="web-page">
                <h4>Scaffold And Scaffold Merchant Application</h4>
               <div class="col-sm-4 displayFlex">
                <img src="assets/images/app-icon-dark.png">
                 <img src="assets/images/app-icon-light.png">
             </div>
               <div class="col-sm-4 marginCenter">
                <img class="img1" src="assets/images/Android-Google-Play.png">
               </div>
                <div class="col-sm-4 marginCenter">
                <img class="img1" src="assets/images/Apple-App-Store.png">
           </div>
           </div>
            </div>
        </div>
</div>

 
<header id="header" (routerUpdate)="changeScrollView($event)" ></header>
<div class="container-fluid block-2">
    <!-- bitext and Scaffold section -->
    <div id="fullpage">
    <section class="section">
    <div class="bitexSection">
        <div class="row">
            <div class="clearfix"></div>
            <div class="col-sm-8 pad-0 text-center inherit sliderImage">
                <div class="padImage">
                <div class="carousel1">
                    <carousel class="top1">
                        <slide >
                            <img  class="animated" selector="slide" src="assets/images/mobile1.jpg" alt="First slide">
                        </slide>
                        <slide>
                            <img  class="animated" selector="slide" src="assets/images/mobile2.jpg" alt="Second slide">
                        </slide>
                        <slide>
                            <img  class="animated" selector="slide" src="assets/images/mobile3.jpg" alt="Third slide">
                        </slide>
                         <slide>
                            <img  class="animated" selector="slide" src="assets/images/mobile4.jpg" alt="Third slide">
                        </slide>
                    </carousel>
                </div>
            </div>
            <div class="padImage1">
                <div class="carousel2">
                    <carousel class="top2">
                        <slide>
                            <img  class="animated1" selector="slide" src="assets/images/ipad1.jpg" alt="First slide">
                        </slide>
                        <slide>
                            <img  class="animated1" selector="slide" src="assets/images/ipad2.jpg" alt="Second slide">
                        </slide>
                        <slide>
                            <img  class="animated1" selector="slide" src="assets/images/ipad3.jpg" alt="Third slide">
                        </slide>
                         <slide>
                            <img  class="animated1" selector="slide" src="assets/images/ipad4.jpg" alt="Third slide">
                        </slide>
                    </carousel>
                </div>
            </div>
            <div class="padImage2">
                <div class="carousel3">
                    <carousel class="top3">
                        <slide>
                            <img  class="animated2" selector="slide" src="assets/images/desktop1.jpg" alt="First slide">
                        </slide>
                        <slide>
                            <img  class="animated2" selector="slide" src="assets/images/desktop2.jpg" alt="Second slide">
                        </slide>
                        <slide>
                            <img  class="animated2" selector="slide" src="assets/images/desktop3.jpg" alt="Third slide">
                        </slide>
                         <slide>
                            <img  class="animated2" selector="slide" src="assets/images/desktop4.jpg" alt="Third slide">
                        </slide>
                    </carousel>
                </div>
            </div>
            <div class="padImage3">
                <div class="carousel4">
                    <carousel class="top4">
                        <slide>
                            <img  class="animated3" selector="slide" src="assets/images/laptop1.jpg" alt="First slide">
                        </slide>
                        <slide>
                            <img  class="animated3" selector="slide" src="assets/images/laptop2.jpg" alt="Second slide">
                        </slide>
                        <slide>
                            <img  class="animated3" selector="slide" src="assets/images/laptop3.jpg" alt="Third slide">
                        </slide>
                         <slide>
                            <img  class="animated3" selector="slide" src="assets/images/laptop4.jpg" alt="Third slide">
                        </slide>
                    </carousel>
                </div>
            </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
     </section>

    <!-- about us section -->
    <section class="section About">
        <div class="col-sm-12 pad-0">
            <div class="aboutSection " id="aboutSection">
                <div id="headingSection">
                    <div class="border-line">
                    </div>
                    <div class="sub-headings">
                        <h2>ABOUT</h2>
                    </div>
                </div>
                <div class="col-sm-6 pad-0">
                <div id="aboutImageSection" class="pad-75">
                    <img class="aboutImage" src="./assets/images/aboutexchange.png" alt="service provide">
                </div>
            </div>
            <div class="col-sm-6 pad-0 floatLEft">
                <div id="aboutText" class="about-text-color pad-105">
                    <p id="decenter" class="about-text-format">Decentralized Cryptocurrency Exchange</p>
                    <p class="proximaSemibold Ezinfo">The Scaffold platform is decentralized in several ways :</p>
                    <p class="proximaLight decenterlizedWay">
                        By having the exchange assets stored in the individual wallets of its users. The users hold all keys. No assets are stored with Scaffold.
                    </p>
                    <p class="proximaLight decenterlizedWay">
                        All licensed and regionally divided structure . To ensure a fair decision in business development and usage of ICO Funds.
                    </p>
                    <p class="proximaLight decenterlizedWay">
                        All transactions will be stored in a dedicated data-warehouse that continuously analyses the data to enhance risk management and identify predictive behaviors.
                    </p>
                </div>
            </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <!-- solutions section -->
    <section class="section Solutions">
        <div class="col-sm-12 pad-0">
        <div class="solutionsSection " id="solutionSection">
           <!--  <div class="blueRays"><img src="./assets/images/solution-blue-highlight.jpg"></div> -->
            <div id="headingSection">
                <div id="grey-border-line" class="colorbrder">
                </div>
                <div class="grey-sub-header widthwhite">
                    <h2>SOLUTION</h2>
                </div>
            </div><br />
            <div class="col-sm-6 pad-0">
            <div id="solutionsTextSection">

                <p class="test proximaSemibold">Providing the infrastructure of banking as ATM, Payment gateway and card reader for all kind of cards issued on Bitex infrastructure.
                </p>
                <p class="testTwo proximaLight">All you need to process payments and transfer, currency exchange, issue and take loans, is a smartphone. We aim to be the company that supports all cryptocurrency payments and connection the economy with the future economy.
                </p>
                <p class="testThree proximaLight">To provide you a virtul card immediately after registration. You may apply for a plastic card and reader. Limitless volume.
                </p>
            </div>
        </div>

            <div class="clearfix"></div>
        </div>
    </div>
    </section>

    <!-- services section -->
    <section id="services" class="section Services">
        <div class="servicesSectionPadding">
            <div id="headingSection">
                <div class="border-line">
                </div>
                <div class="sub-headings width-200">
                    <h2>SERVICES</h2>
                </div>
            </div>
            <div class="pad-100">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 display">
                        <div class="col-sm-3 text-center afterImage">
                            <div class="circular-Div"><img class="servicesImage" src="./assets/images/services-Bitex-POS.png" alt="service provide"></div>
                            
                        </div>
                        <div class="dot">
                            <img src="/assets/images/services-circle.png">
                        </div>
                        <div class="col-sm-9">
                            <div class="section-1 padding5">
							<h5 class="head1">Bitex POS</h5>
                                <p class="serviceText serviceWrap ">
                                  Built-in cryptocurrency exchange, marketing platform and payment solutions with automatic loyalty programs.Integrations with main POS software, a unique solution for all areas of retail, trade, and services globally. Retail, e-commerce, transport, vending, parking, and more.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pull-right">
                    <div class="col-sm-12 display">
                        <div class="col-sm-3 text-center">
                            <div class="circular-Div"><img class="servicesImage leftImg" src="./assets/images/services-BitexCard.png" alt="service provide"></div>
                            
                        </div>
						 <div class="dot left-85">
                            <img src="/assets/images/services-circle.png">
                        </div>
                        <div class="col-sm-9">
                            <div class="section-1 left padding5">
							<h5 class="head1">Bitex Card</h5>
                                <p class="serviceText serviceWrap ">
                                   Merchants can choose to receive ﬁat currency or G7 coins even if payment is made in other cryptocurrencies(by enabling the “Auto Sell”- tab to sell out the cryptocurrency immediately on the Scaffold Exchange).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 display">
                        <div class="col-sm-3 text-center">
                            <div class="circular-Div"> <img class="servicesImage" src="./assets/images/services-G7-Token.png" alt="service provide"></div>
                           
                        </div>
						 <div class="dot">
                            <img src="/assets/images/services-circle.png">
                        </div>
                        <div class="col-sm-9">
                            <div class="section-1 padding5">
							<h5 class="head1">G7 Token</h5>
                                <p class="serviceText serviceWrap ">
                                    No need for currency exchanges. Instant payments in both ﬁat currency and cryptocurrencies internationally using the G7 coin, via BitexPay. Scaffold ATMs and BitexPay mobile card readers to be installed in over 20,000 locations around the world, starting from Japan.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--   <div class="clearfix"></div> -->
        </div>
    </section>


    <section class="section Download">
        <div class="appSection"  id="download">
            <div id="headingSection">
                <div  class="border-line colorbrder">
                </div>
                <div class="sub-headings widthwhite">
                    <h2 class="pad-left">DOWNLOAD</h2>
                </div>
            </div>

            <div class="appBody">
                <div class="col-sm-12 webkit-box">
                    <div class="col-sm-4 text-center">
                        <div class="mobileImage">
                            <img class="mobileLogo" src="./assets/images/mobileicon.png">
                        </div>
                        <div class="semiCircle"></div>
                        <div class="app-coloumn-1">
                            <div class="heading">
                                <label>MOBILE</label>
                            </div>
                            <div class="col-sm-12">
                                <a href=""><img class="mobileLogo marginRight" src="./assets/images/iOSicon.png"></a>
                                <a href=""><img class="mobileLogo" src="./assets/images/androidicon.png"></a>
                            </div>


                        </div>
                        <!-- <div class="app-small-border">
                        </div> -->
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="tabImage">
                            <a href=""><img class="tabLogo" src="./assets/images/tabicon.png"></a>
                        </div>
                        <div class="semiCircle"></div>
                        <div class="app-coloumn-1">
                            <div class="heading">
                                <label>TAB/iPAD</label>
                            </div>
                            <div class="col-sm-12">
                                <a href=""><img class="mobileLogo marginRight" src="./assets/images/iOSicon.png"></a>
                                <a href=""><img class="mobileLogo" src="./assets/images/androidicon.png"></a>
                            </div>
                        </div>
                        <!-- <div class="app-small-border">
                        </div> -->
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="laptopImage">
                            <img class="laptopLogo" src="./assets/images/laptopicon.png">
                        </div>
                        <div class="semiCircle"></div>
                        <div class="app-coloumn-1">
                            <div class="heading">
                                <label>WEB/DESKTOP APP</label>
                            </div>
                            <div class="col-sm-12">
                                <a href=""><img class="desktopLogo marleft text-left" src="./assets/images/iOSicon.png"></a>
                                <a href="" ><img class="text-center marMiddle" src="./assets/images/windowsicon.png"></a>
                                <a href=""><img class="desktopLogo text-right marleft" src="./assets/images/linuxicon.png"></a>
                            </div>

                        </div>
                        <!-- <div class="app-small-border">
                        </div> -->
                    </div>
                </div>
                <div class="row padGap">
                    <div class="col-sm-12 display">
                        <div class="col-sm-4 margin0">
                            <img class="image-1 left-image" src="./assets/images/get-the-app1.png">
                        </div>
                        <div class="col-sm-4 margin0">
                            <img class="image-2" src="./assets/images/get-the-app2.png">
                        </div>
                        <div class="col-sm-4 margin0">
                            <img class="image-3 right-image" src="./assets/images/get-the-app3.png">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- contactus section -->
    <section class="section Contact">
        <div id="contactSection">
            <div class="contactUsSection">
                <div id="headingSection">
                    <div class="border-line">
                    </div>
                    <div class="sub-headings width-200">
                        <h2>CONTACT</h2>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 margin0">
                        <div class="pad-160">
                            <div id="contactusForm">
                                <p>We will respond within 1 business day.</p>
                                <p><input class="input-field-contact" type="text" name="name" placeholder="Name" /></p>
                                <p>
                                    <input class="input-field-contact" type="email" name="email" placeholder="Email" />
                                </p>
                                <p>
                                    <textarea class="input-field-text-area" placeholder="Message" rows="3" cols="60"></textarea>
                                </p>
                                <p>
                                    <button class="submitButton letterSpaceTwo">submit</button>
                                </p>

                            </div>

                            <div id="contactSectionRight">
                                <p class="colorBlue">Looking for immediate answers ?</p>
                                <p class="colorGrey">Join our official Scaffold telegram channel below</p>
                                <p class="pad-25">
                                    <button class="ezTelegramButton">Scaffold ON TELEGRAM</button>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
                <div>
                    <img class="width-100" src="./assets/images/contact-strip.png" />
                    <span class="contactText">contact@bitex.global</span>
                </div>
        </div>
    </section>
</div>

</div>
<footer id="footer" (routerUpdate)="changeScrollView($event)"></footer>
